<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      template="/Template/plantilla.xhtml"
          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
 
    <ui:define name="contenido">
        <h2>Nueva Categoria</h2>
       
    <h:form id="form-agregar">
        <p:messages id="mensajes" severity="info,fatal" autoUpdate="false"/>   
           <p:panel id="panl" header="Agregar Categoria">
         <h:panelGrid id="DatoPersonales" columns="3" cellpadding="5">
            
              <h:outputLabel for="txtCategoria" value="Categoria:" style="font-weight:bold"/>
              <h:inputText id="txtCategoria" value="#{bkn_categoria.categoria.categoria}" required="true" label="categoria" requiredMessage="Ingrese categoria" validatorMessage="Categoria solo puede tener alfabetos">
             <f:validateRegex for="txtCategoria" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$"/>
            </h:inputText>
            <p:message for="txtCategoria" />
           
 
        </h:panelGrid>
               <p:commandButton value="Agregar" ajax="false" actionListener="#{bkn_categoria.categoriaAgregar()}"/>  
     
    </p:panel>
     </h:form>
       
    </ui:define>
 </ui:composition>

