<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      template="/Template/plantilla.xhtml"
          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
 
    <ui:define name="contenido">
        <h2>Nuevo Empleado</h2>
       
    <h:form id="form-agregar">
           
           <p:panel id="panl" header="Agregar Empleado">
         <h:panelGrid id="DatoPersonales" columns="3" cellpadding="5">
            
              <h:outputLabel for="txtNombre" value="Nombre:" style="font-weight:bold"/>
              <h:inputText id="txtNombre" value="#{beanEm.empleado.nombre}" required="true" label="nombre" requiredMessage="Ingrese nombre" validatorMessage="El nombre solo puede tener alfabetos">
             <f:validateRegex for="txtNombre" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1.]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1.]+$"/>
            </h:inputText>
            <p:message for="txtNombre" />
            
            <h:outputLabel for="txtApellido" value="Apellido:" style="font-weight:bold"/>
            <h:inputText id="txtApellido" value="#{beanEm.empleado.apellido}" required="true" label="apellido" requiredMessage="Ingrese apellido" validatorMessage="El apellido solo puede tener alfabetos">
             <f:validateRegex for="txtApellido" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1.]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1.]+$"/>
            </h:inputText>
            <p:message for="txtApellido" />
            
            <h:outputLabel for="txtDireccion" value="Dirección:" style="font-weight:bold"/>
            <h:inputText id="txtDireccion" value="#{beanEm.empleado.direccion}" required="true" label="direccion" requiredMessage="Ingrese Dirección"/>
               
              <p:message for="txtDireccion" />
              
               <h:outputLabel for="txtTelefono" value="Telefono" style="font-weight:bold"/>
               <h:inputText id="txtTelefono" value="#{beanEm.empleado.telefono}" required="true" label="telefono" requiredMessage="Ingrese Telefono" validatorMessage="Solo numeros">
             <f:converter converterId="javax.faces.Integer" />
            </h:inputText>
            <p:message for="txtTelefono" />
              
              <h:outputLabel for="txtEmail" value="Email:" style="font-weight:bold"/>
              <h:inputText id="txtEmail" value="#{beanEm.empleado.email}" required="true" label="email" requiredMessage="Ingrese Email" validatorMessage="Email invalido" >
               <f:validateRegex for="txtEmail" pattern="^[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"/>
               </h:inputText>
              <p:message for="txtEmail" />
              
                 <p:outputLabel  value="Puesto:"/>
                 <p:selectOneMenu value="#{beanEm.empleado.puesto.idPuesto}" style="font-weight:bold;">
                     <f:selectItems value="#{beanEm.listasPuestos}"  var="p" itemLabel="#{p.puesto}" itemValue="#{p.idPuesto}"/> 
              </p:selectOneMenu>
            <br/>
           
 
        </h:panelGrid>
               <p:commandButton value="Agregar" ajax="false" actionListener="#{beanEm.empleadoAgregar()}"/>  
     
    </p:panel>
     </h:form>
       
    </ui:define>
 </ui:composition>
