<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      template="/Template/plantilla.xhtml"
          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
 
    <ui:define name="contenido">
        <h2>Nuevo Libro</h2>
       <h:form id="form-agregar" enctype="multipart/form-data">
         
          
           <p:panel id="panl" header="Agregar">
         <p:panelGrid id="DatoLibro" columns="2">    
        
         <p:panelGrid id="ImagenDato" columns="3">
            
            
              <h:outputLabel for="txtTitulo" value="Titulo:" style="font-weight:bold"/>
              <h:inputText id="txtTitulo" value="#{bkn_Libro.libro.titulo}" required="true" label="Titulo" requiredMessage="Ingrese Titulo" validatorMessage="El titulo solo puede tener alfabetos">
             <f:validateRegex for="txtTitulo" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$"/>
            </h:inputText>
            <p:message for="txtTitulo" />
            
             <p:outputLabel  value="Fecha de Edición:"/>
             <p:selectOneMenu value="#{bkn_Libro.libro.anioEdicion}" style="font-weight:bold;">
                   <f:selectItems value="#{bkn_Libro.listaAnios}"/> 
              </p:selectOneMenu>
            <br/>
            
            
             <h:outputLabel for="txtCantidad" value="Cantidad" style="font-weight:bold"/>
             <h:inputText id="txtCantidad" value="#{bkn_Libro.libro.cantidd}" required="true" label="cantidad" requiredMessage="Ingrese Cantidad" validatorMessage="Solo numeros">
             <f:converter converterId="javax.faces.Integer" />
            </h:inputText>
            <p:message for="txtCantidad" />
            
              <p:outputLabel  value="Autor:"/>
              <p:selectOneMenu value="#{bkn_Libro.libro.autor.idAutor}" style="font-weight:bold;">
                  <f:selectItems value="#{bkn_Libro.listaAutores}"  var="a" itemLabel="#{a.autor}" itemValue="#{a.idAutor}"/> 
              </p:selectOneMenu>
            <br/> 
            
              <p:outputLabel  value="Categoria:"/>
              <p:selectOneMenu value="#{bkn_Libro.libro.categoria.idCategoria}" style="font-weight:bold;">
                  <f:selectItems value="#{bkn_Libro.listaCategorias}"  var="c" itemLabel="#{c.categoria}" itemValue="#{c.idCategoria}"/> 
              </p:selectOneMenu>
            <br/>
             
             
             
              
            
        </p:panelGrid>
        <p:graphicImage id="grapImage" value="/Temporal/#{bkn_Libro.imagenLibroTemporal}" width="450" height="350" />     
        <br/>
          <p:fileUpload value="#{bkn_Libro.file}" mode="simple" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
                        sizeLimit="512000"/>
        </p:panelGrid> 
               
         <p:commandButton value="Agregar" ajax="false" update="grapImage" actionListener="#{bkn_Libro.upload()}" styleClass="p-mt-3 ui-button-outlined p-d-block"/> 
         
    </p:panel>
         
            
     </h:form> 
   
    </ui:define>
 </ui:composition>

