<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      template="/Template/plantilla.xhtml"
          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
 
    <ui:define name="contenido">
        <h2>Realizar Prestamo</h2>
       
    <h:form id="form-agregar">
           
           <p:panel id="panl" header="Agregar Prestamo">
         <h:panelGrid id="DatoDePrestamo" columns="3" cellpadding="5">
          
              <p:outputLabel  value="Usuario:"/>
              <p:selectOneMenu value="#{PrestamoBean.prestamo.usuario.idUsuario}" style="font-weight:bold;">
                  <f:selectItems value="#{PrestamoBean.listaUsuarios}"  var="u" itemLabel="#{PrestamoBean.NombreYApellido(u)}" itemValue="#{u.idUsuario}"/> 
              </p:selectOneMenu>
            <br/> 
             <p:outputLabel  value="Libro:"/>
             <p:selectOneMenu value="#{PrestamoBean.prestamo.libro.idLibro}" style="font-weight:bold;">
                 <f:selectItems value="#{PrestamoBean.listaLibros}"  var="lib" itemLabel="#{lib.titulo}" itemValue="#{lib.idLibro}"/> 
              </p:selectOneMenu>
            <br/> 
            
            <p:outputLabel  value="Empleado:"/>
            <p:selectOneMenu value="#{PrestamoBean.prestamo.empleado.idEmpleado}" style="font-weight:bold;">
                <f:selectItems value="#{PrestamoBean.listaEmpleados}"  var="e" itemLabel="#{PrestamoBean.NombreYApellidoEm(e)}" itemValue="#{e.idEmpleado}"/> 
              </p:selectOneMenu>
            <br/> 
            <p:outputLabel  value="Fecha:"/>
            <p:calendar value="#{PrestamoBean.prestamo.fechaSalida}"/>
             <br/> 
                 <p:outputLabel  value="Estado:"/>
                 <p:selectOneMenu value="#{PrestamoBean.prestamo.estado}" style="font-weight:bold;">
                     <f:selectItem itemLabel="Activo" itemValue="Activo"/>
                    <f:selectItem itemLabel="INACTIVO" itemValue="INACTIVO"/>
              </p:selectOneMenu>
           
 
        </h:panelGrid>
               <p:commandButton value="Agregar" ajax="false" action="#{PrestamoBean.prestamoAgregar()}"/>  
              
    </p:panel>
     </h:form>
       
    </ui:define>
 </ui:composition>

