<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      template="/Template/plantilla.xhtml"
          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
 
    <ui:define name="contenido">
        <h2>Nuevo Usuario</h2>
       
    <h:form id="form-agregar">
           
           <p:panel id="panl" header="Agregar Usu">
         <h:panelGrid id="DatoPersonales" columns="3" cellpadding="5">
            
              <h:outputLabel for="txtNombre" value="Nombre:" style="font-weight:bold"/>
              <h:inputText id="txtNombre" value="#{bkn_Libro2.usuario.nombre}" required="true" label="nombre" requiredMessage="Ingrese nombre" validatorMessage="El nombre solo puede tener alfabetos">
             <f:validateRegex for="txtNombre" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1.]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1.]+$"/>
            </h:inputText>
            <p:message for="txtNombre" />
            
            <h:outputLabel for="txtApellido" value="Apellido:" style="font-weight:bold"/>
            <h:inputText id="txtApellido" value="#{bkn_Libro2.usuario.apellido}" required="true" label="apellido" requiredMessage="Ingrese apellido" validatorMessage="El apellido solo puede tener alfabetos">
             <f:validateRegex for="txtApellido" pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1.]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1.]+$"/>
            </h:inputText>
            <p:message for="txtApellido" />
            
            
              
               <h:outputLabel for="txtTelefono" value="Telefono" style="font-weight:bold"/>
               <h:inputText id="txtTelefono" value="#{bkn_Libro2.usuario.telefono}" required="true" label="telefono" requiredMessage="Ingrese Telefono" validatorMessage="Solo numeros">
             <f:converter converterId="javax.faces.Integer" />
            </h:inputText>
            <p:message for="txtTelefono" />
              
              
                 <p:outputLabel  value="Estado:"/>
                 <p:selectOneMenu value="#{bkn_Libro2.usuario.estado}" style="font-weight:bold;">
                     <f:selectItem itemLabel="Activo" itemValue="Activo"/>
                    <f:selectItem itemLabel="Inactivo" itemValue="Inactivo"/>
              </p:selectOneMenu>
            <br/>
           
 
        </h:panelGrid>
               <p:commandButton value="Agregar" ajax="false" actionListener="#{bkn_Libro2.usuarioAgregar()}"/>  
     
    </p:panel>
     </h:form>
       
    </ui:define>
 </ui:composition>
