<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      template="/Template/plantilla.xhtml"
          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
 
    <ui:define name="contenido">
        <h2>Usuarios Registrados</h2>
    
        
        <h:form id="form-lista">
            <p:dataTable id="tablaUsuario" var="u" value="#{bkn_Libro2.listaUsuarios}">
                <p:column headerText="Id">
                    <h:outputText value="#{u.idUsuario}" />
                  </p:column>
               <p:column headerText="Nombre">
                   <h:outputText value="#{u.nombre}" />
                </p:column>
                
                <p:column headerText="Apellido">
                    <h:outputText value="#{u.apellido}" />
                </p:column>
          
                
                <p:column headerText="Teléfono">
                    <h:outputText value="#{u.telefono}" />
                </p:column>
               
               
                <p:column headerText="Estado">
                          <h:outputText value="#{u.estado}" />
                </p:column>

                <p:column headerText="MODIFICAR" style="text-align: center">
                    <p:commandButton icon="ui-icon-pencil" title="Modificar" oncomplete="PF('dialogoModificar').show();" update=":formModificar" actionListener="#{bkn_Libro2.obtenerIdSeleccionadoDeTabla(u)}" >
                            <f:setPropertyActionListener target="#{bkn_Libro2.usuario}" value="#{u}"/>
                         </p:commandButton>
                  </p:column>

                                       
                </p:dataTable>
            
        </h:form>
       
         <h:form id="formModificar">
                        <p:dialog id="dlgModificar" header="Modificar Empleado" widgetVar="dialogoModificar" resizable="false" showEffect="fade" hideEffect="explode" modal="true">
                            <p:panelGrid columns="2" style="margin: 0 auto;">                                
                                <p:outputLabel value="Nombre:"/>
                                <p:inputText value="#{bkn_Libro2.usuario.nombre}"/>
                                <p:outputLabel value="Apellido:"/>
                                <p:inputText value="#{bkn_Libro2.usuario.apellido}"/>
            
                                <p:outputLabel value="Telefono:"/>
                                <p:inputText value="#{bkn_Libro2.usuario.telefono}"/>
                                <p:outputLabel  value="Estado:"/>
                                <p:selectOneMenu value="#{bkn_Libro2.usuario.estado}" style="font-weight:bold;">
                                <f:selectItem itemLabel="Activo" itemValue="Activo"/>
                               <f:selectItem itemLabel="Inactivo" itemValue="Inactivo"/>
                                </p:selectOneMenu>
                                
                            </p:panelGrid>
                            <p:commandButton  value="Guardar" actionListener="#{bkn_Libro2.modificarUsuario()}" update=":form-lista:tablaUsuario" oncomplete="PF('dialogoModificar').hide();"/>
                            <p:commandButton  value="Cancelar" onclick="PF('dialogoModificar').hide();"/>
                        </p:dialog>
                    </h:form>
        
    </ui:define>
 </ui:composition>