<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      template="/Template/plantilla.xhtml"
          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
 
    <ui:define name="contenido">
        <h2>Biblioteca</h2>
        
       <h:form id="formListado">
          
           <p:dataTable id="tablaLibros" var="lib" value="#{bkn_Libro.listaLibros}" rows="5" paginator="true">
                <p:column headerText="Id" style="width:100px">
                 <h:outputText value="#{lib.idLibro}"/>
                </p:column>
                     <p:column headerText="Titulo" style="width:100px"> 
                         <h:outputText value="#{lib.titulo}" />
                            </p:column>
                            <p:column headerText="Autor" style="width:100px">
                                <h:outputText value="#{lib.autor.idAutor}" />
                            </p:column>
                 
                            <p:column headerText="Categoria" style="width:100px">
                                <h:outputText value="#{lib.categoria.idCategoria}" />
                            </p:column>
                 
                             <p:column headerText="Año" style="width:100px">
                                 <h:outputText value="#{lib.anioEdicion}" />
                            </p:column>
                 
                             <p:column headerText="Disponible" style="width:100px">
                                 <h:outputText value="#{lib.cantidd}" />
                            </p:column>
                           
                            <p:column style="width:150px">
                                <p:graphicImage value="/Image/#{bkn_Libro.UnioIdMasTitulo(lib)}.jpg"  style="margin-left: 10px;" width="100px" height="100px"/>
                            </p:column>
                
                            <p:column headerText="Visualizar" style="width:100px">
                                <p:commandButton value="Ver" icon="ui-icon-zoomin" actionListener="#{bkn_Libro.view(lib)}" ajax="false"/>
                            </p:column>
                    <p:column headerText="MODIFICAR" style="width:110px">
                      <p:commandButton icon="ui-icon-pencil" title="Modificar" oncomplete="PF('dialogoModificar').show();" update=":formModificar" actionListener="#{bkn_Libro.obtenerIdSeleccionadoDeTabla(lib)}" >
                            <f:setPropertyActionListener target="#{bkn_Libro.libro}" value="#{lib}"/>
                         </p:commandButton>
                  </p:column>
                          
                   
                </p:dataTable>
           
         </h:form>
        
            <h:form id="formModificar">
                        <p:dialog id="dlgModificar" header="Modificar Libro" widgetVar="dialogoModificar" resizable="false" showEffect="fade" hideEffect="explode" modal="true">
                            <p:panelGrid columns="2" style="margin: 0 auto;">                                
                                <p:outputLabel value="Titulo:"/>
                                <p:inputText value="#{bkn_Libro.libro.titulo}"/>
                                <p:outputLabel  value="Autor:"/>
                               <p:selectOneMenu value="#{bkn_Libro.libro.autor.idAutor}" style="font-weight:bold;">
                                  <f:selectItems value="#{bkn_Libro.listaAutores}"  var="a" itemLabel="#{a.autor}" itemValue="#{a.idAutor}"/> 
                               </p:selectOneMenu>
                                <p:outputLabel  value="Categoria:"/>
                               <p:selectOneMenu value="#{bkn_Libro.libro.categoria.idCategoria}" style="font-weight:bold;">
                                 <f:selectItems value="#{bkn_Libro.listaCategorias}"  var="c" itemLabel="#{c.categoria}" itemValue="#{c.idCategoria}"/> 
                               </p:selectOneMenu>
                              <p:outputLabel  value="Fecha de Edición:"/>
                               <p:selectOneMenu value="#{bkn_Libro.libro.anioEdicion}" style="font-weight:bold;">
                                <f:selectItems value="#{bkn_Libro.listaAnios}"/> 
                               </p:selectOneMenu>
                               <p:outputLabel value="Cantidad:"/>
                                <h:inputText id="txtCantidad" value="#{bkn_Libro.libro.cantidd}" required="true" label="cantidad" requiredMessage="Ingrese Cantidad" validatorMessage="Solo numeros">
                                <f:converter converterId="javax.faces.Integer" />
                                </h:inputText>
                             
                                
                            </p:panelGrid>
                            <p:commandButton  value="Guardar" actionListener="#{bkn_Libro.modificarLibro()}" update=":formListado:tablaLibros" oncomplete="PF('dialogoModificar').hide();"/>
                            <p:commandButton  value="Cancelar" onclick="PF('dialogoModificar').hide();"/>
                        </p:dialog>
                    </h:form>
                  
       
                    
                
        
   
    </ui:define>
 </ui:composition>

