<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      template="/Template/plantilla.xhtml"
          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
 
    <ui:define name="contenido">
        <h2>Prestamos Realizados</h2>
    
        
        <h:form >
            <p:dataTable id="tablaPrestamos" var="p" value="#{PrestamoBean.listaPrestamos}" rows="5" paginator="true">
                <p:column headerText="Id" style="width:100px">
                    <h:outputText value="#{p.idPrestamo}" />
                  </p:column>
               <p:column headerText="Libro" style="width:100px">
                   <h:outputText value="#{p.libro.titulo}" />
                </p:column>
                
                <p:column headerText="Usurio" style="width:100px">
                    <h:outputText value="#{p.usuario.nombre}" />
                </p:column>
                
                <p:column headerText="Empleado" style="width:100px">
                    <h:outputText value="#{p.empleado.nombre}" />
                </p:column>
                
                <p:column headerText="Fecha" style="width:200px">
                    <h:outputText value="#{p.fechaSalida}" />
                </p:column>
                
                <p:column headerText="Estado" style="width:100px">
                    <h:outputText value="#{p.estado}" />
                </p:column>
                
                 <p:column style="width:100px">
                     <h:commandButton value="Devolver"  action="#{PrestamoBean.devolverLibro(p)}"/>
                </p:column>
             
             


                                       
                </p:dataTable>
            
        </h:form>
       
    </ui:define>
 </ui:composition>
