<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      template="/Template/plantilla.xhtml"
          
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
 
    <ui:define name="contenido">
        <h2>Puestos</h2>
    
        
        <h:form id="formListado">
            <p:dataTable id="tablaPuesto" var="p" value="#{puestoBean.listaPuestos}">
                <p:column headerText="Id">
                     <h:outputText value="#{p.idPuesto}" />
                  </p:column>
               <p:column headerText="Puesto">
                  <h:outputText value="#{p.puesto}" />
                </p:column>
                    <p:column headerText="MODIFICAR" style="width:110px">
                        <p:commandButton icon="ui-icon-pencil" title="Modificar" oncomplete="PF('dialogoModificar').show();" update=":formModificar" actionListener="#{puestoBean.obtenerIdSeleccionadoDeTabla(p)}" >
                         <f:setPropertyActionListener target="#{puestoBean.puesto}" value="#{p}"/>
                         </p:commandButton>
                  </p:column>
                                       
                </p:dataTable>
            
        </h:form>
        
         <h:form id="formModificar">
                        <p:dialog id="dlgModificar" header="Modificar Autor" widgetVar="dialogoModificar" resizable="false" showEffect="fade" hideEffect="explode" modal="true">
                            <p:panelGrid columns="2" style="margin: 0 auto;">                                
                                <p:outputLabel value="Nombre:"/>
                                <p:inputText value="#{puestoBean.puesto.puesto}"/>
                              </p:panelGrid>
                            <p:commandButton  value="Guardar" actionListener="#{puestoBean.modificarPuesto()}" update=":formListado:tablaPuesto" oncomplete="PF('dialogoModificar').hide();"/>
                            <p:commandButton  value="Cancelar" onclick="PF('dialogoModificar').hide();"/>
                        </p:dialog>
                    </h:form>
       
    </ui:define>
 </ui:composition>
